<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- Define your beans here -->
    
    <!-- define the dependency -->
    <bean id="publicacao"
          class="br.com.fafiman.springxmlconfig.entity.Publicacao">
    </bean>

    <bean id="pessoa"
          class="br.com.fafiman.springxmlconfig.entity.Pessoa">
    </bean>

    <bean id="operacao"
          class="br.com.fafiman.springxmlconfig.entity.Operacao">
    </bean>

    <bean id="exemplar"
          class="br.com.fafiman.springxmlconfig.entity.Exemplar">
    </bean>
    
</beans>





